<%= form_for([:admin, @setting]) do |f| %>
  <%= hidden_field_tag :tab, @tab if @tab %>
  <div class="small-12 medium-6 large-8 column">
    <%= f.select :value, options_from_collection_for_select(@collection, @value_method, @text_method, @setting.value),
                 label: false,
                 id: dom_id(@setting, :value),
                 "aria-label": strip_tags(t("settings.#{@setting.key}")),
                 "aria-describedby": dom_id(@setting, :description) %>
  </div>
  <div class="small-12 medium-6 large-4 column">
    <%= f.submit(t("admin.settings.index.update_setting"), class: "button hollow expanded") %>
  </div>
<% end %>