<%= render Attachable::FieldsComponent.new(
  f,
  resource_type: document.documentable_type,
  resource_id: document.documentable_id,
  relation_name: "documents"
) %>

<p class="current-visibility-status">
  Current status:
  <strong>
    <%= document.unrestricted? ? "Public" : "Private" %>
  </strong>
</p>

<% if show_visibility_toggle? %>
  <div class="field document-visibility-toggle">
    <strong>Visibility</strong>

    <div class="radio-option">
      <label>
        <%= f.radio_button :visibility, 'unrestricted', checked: document.unrestricted? %>
        Public
      </label>
    </div>

    <div class="radio-option">
      <label>
        <%= f.radio_button :visibility, 'restricted', checked: !document.unrestricted? %>
        Private
      </label>
    </div>

  </div>
<% end %>
